{% extends 'base.html.twig' %}

{% block body %}
<h1>{{title}}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos et velit neque? Illo nobis quidem iusto ratione! Totam dolore debitis doloribus. Culpa, ipsam obcaecati? Numquam, maxime laborum adipisci dolores autem obcaecati ipsa aliquam voluptatem? Hic quo quaerat qui excepturi sequi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rem nobis eaque alias temporibus earum. Iste neque deleniti, illum culpa possimus quis repudiandae quidem pariatur vel fugiat nihil? Eveniet voluptatum eius architecto quae repellat vel nostrum reiciendis obcaecati quibusdam vitae?</p>
{% endblock %}